@font-face {
    font-family: Super Pixel;
    src: url(../media/fonts/SuperPixel-m2L8j.ttf);
}

body {
    background-image: url("../media/Angel\ bath.png");
    color: white;
    font-family: Super Pixel;
    margin: 0;
    padding: 0; 
    height: 100%
}


a:link, a:visited {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gif-container img {
    width: 600px;
    height: auto
}

@media (max-width: 600px) {
    .gif-container {
        flex-direction: column
    }
}

.container {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.background, .overlay {
    width: 50%;
    height: auto;
    max-width: 100%
    max-height: 100%
}

.overlay {
    position:absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-%50, -%50) */
}


.fixed-gif {
    width: 20px;
    height: auto;
}

.tab-bg {
    background-color: grey;
}

/* .tab-icon-bg {
    background-color: orange;
} */