@font-face {
    font-family: Super Pixel;
    src: url(../media/fonts/SuperPixel-m2L8j.ttf);
}

body {
    background-image: url("../media/Angel\ bath.png");
    color: white;
    font-family: Super Pixel;
}


a:link, a:visited {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}